streamlit>=1.36
Google-auth>=2.20
google-auth-httplib2>=0.2
google-auth-oauthlib>=1.0.0
google-api-python-client>=2.100.0
fpdf2>=2.7.6
qrcode[pil]>=7.4.2
pillow>=9.5.0
python-barcode[images]>=0.14.0
numpy>=1.26.0
opencv-python-headless>=4.9.0.80
pandas>=2.2
xlsxwriter>=3.2
lxml>=5.0

